<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/admin/my-css/indexcss.css">
    <link rel="stylesheet" href="/admin/static/sa.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Title</title>
</head>
<body style="height: 100%;">
    <div style="margin: 0 40%;">
        <ul class="menuset">
            <li v-for="menuitem in menudata">
                <div class="index-list"  v-bind:id="menuitem.id">
                    <a>{{menuitem.name}}</a>
                    <span v-on:click="deleteItem(menuitem)" style="background:url('/admin/icon/delete.svg')"></span>
                    <span style="background:url('/admin/icon/setup.svg')"></span>
                    <span style="background:url('/admin/icon/add.svg')"></span>
                </div>
                <ul class="menuset" v-if="menuitem.childList">
                    <li v-for="c_item in menuitem.childList">
                        <div v-bind:id="c_item.id">
                            <span>
                                {{c_item.name}}
                            </span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="menu_from float-from-30-40 vue-box ">
        <div class="c-panel" style="padding: 5% 20% 0;">
            <div class="from-head c-title">编辑节点</div>
            <el-form ref="form">
                <div class="c-item">
                    <label class="c-label">节点名称：</label>
                    <el-input size="mini" v-model="m.name"></el-input>
                </div>
                <br>
                <div class="c-item">
                    <label class="c-label">图标：</label>
                    <el-input size="mini" v-model="m.icon"></el-input>
                </div>

                <br>
                <div class="c-item">
                    <label class="c-label">地址：</label>
                    <el-input size="mini" v-model="m.url"></el-input>
                </div>
                <br>
                <div class="c-item">
                    <label class="c-label">是否有效：</label>
                    <el-radio-group v-model="m.isvalid" size="mini">
                        <el-radio :label="0">是</el-radio>
                        <el-radio :label="1">否</el-radio>
                    </el-radio-group>
                </div>

                <br>
                <div class="c-item" style="min-width: 0px;">
                    <label class="c-label"></label>
                    <el-button type="primary" icon="el-icon-plus" size="mini" @click="submit">确定</el-button>
                </div>
            </el-form>
        </div>
    </div>

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/admin/javascript/sweetalert.min.js"></script>
    <script src="/admin/my-html/main.js"></script>
</body>
</html>

