<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/admin/my-css/indexcss.css">
    <title>Title</title>
</head>
<body>
    <div>
        <ul class="menuset">
            <li v-for="menuitem in menudata">
                <div v-bind:id="menuitem.id">
                    <span>{{menuitem.name}}</span>
                    <span>修改</span>
                </div>
                <ul class="menuset" v-if="menuitem.childList">
                    <li v-for="c_item in menuitem.childList">
                        <div v-bind:id="c_item.id">
                            <span>
                                {{c_item.name}}
                            </span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="/admin/my-html/main.js"></script>
</body>
</html>

