<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shirotest.mapper.RolePermMapper" >
    <select id="getRolePerByUserid" parameterType="String" resultType="java.util.Map">
       select t_user.name,t_role.rolename,t_per.permisname from nzzusertable t_user
        RIGHT JOIN nzzuserrolemap ur_map on t_user.id=ur_map.userid
        RIGHT JOIN nzzroletable t_role on ur_map.roleid=t_role.id
        RIGHT JOIN nzzrolepermismap rp_map on rp_map.roleid=t_role."id"
        RIGHT JOIN nzzpermistable t_per on t_per.id=rp_map.permisid
         where t_user.id=#{id}
    </select>

    <select id="getRoleByUserid" parameterType="String" resultType="java.util.Map">
       select use.id,use.name,use.icon,urmap.roleid,rolename,rol.cnname from nzzusertable use LEFT JOIN nzzuserrolemap urmap
        on use.id=urmap.userid
        LEFT JOIN nzzroletable rol on urmap.roleid=rol.id
        where use.id=#{id}
    </select>

</mapper>