<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shirotest.mapper.UserMapper" >

    <select id="selectUUU" resultType="java.util.Map">
        select * from nzzusertable
    </select>

    <select id="selectU" parameterType="String" resultType="com.example.shirotest.dao.TUser">
        select * from nzzusertable limit 1
    </select>

    <select id="login" parameterType="com.example.shirotest.dao.TUser" resultType="com.example.shirotest.dao.TUser">
        select * from nzzusertable where name=#{name} and passwd=#{passwd}
    </select>

    <!--用户列表-->
    <select id="selectAllUser" parameterType="java.util.Map" resultType="com.example.shirotest.dao.TUser">
      select * from nzzusertable limit #{pagesize} OFFSET #{beginindex}
    </select>
</mapper>