<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shirotest.mapper.UserMapper" >

    <select id="selectUUU" resultType="java.util.Map">
        select * from nzzusertable
    </select>

    <select id="selectU" parameterType="String" resultType="com.example.shirotest.dao.TUser">
        select * from nzzusertable limit 1
    </select>

    <select id="login" parameterType="com.example.shirotest.dao.TUser" resultType="com.example.shirotest.dao.TUser">
        select * from nzzusertable where name=#{name} and passwd=#{passwd}
    </select>

    <!--用户列表-->
    <select id="selectAllUser" parameterType="java.util.Map" resultType="java.util.Map">
      select *,(select count(*) from nzzusertable) from nzzusertable limit #{pagesize} OFFSET #{beginindex}
    </select>

    <insert id="addUser" parameterType="java.util.Map">
      insert into nzzusertable("id","name","passwd","icon","emails","isvalid")
        values(#{id},#{name},#{passwd},#{icon},#{emails},0);
    </insert>
    <update id="updateItemById" parameterType="com.example.shirotest.dao.TUser">
      update nzzusertable
      <set>
          <if test="icon!=null">
              icon=#{icon},
          </if>
          <if test="name!=null">
              name=#{name},
          </if>
          <if test="passwd!=null">
              passwd=#{passwd},
          </if>
          <if test="emails!=null">
              emails=#{emails},
          </if>
          <if test="isvalid!=null">
              isvalid=#{isvalid},
          </if>
      </set>
        where id=#{id}
    </update>

    <select id="selectLeapCount" resultType="java.util.Map">
        select replace(cast(uuid_generate_v4() as VARCHAR), '-', '') as id,count(tablename),tablecnname,tablename from leapdatafield GROUP BY tablename,tablecnname order by tablename
    </select>
    <delete id="deleteUser" parameterType="String">
        delete from nzzusertable where id=#{id}
    </delete>
    <select id="selectLeap" resultType="java.util.Map">
        select * from leapdatafield order by tablename
    </select>

</mapper>