/*  ------------------------------ element-ui 图片上传控件样式 ------------------------------------------ */
.PTT_main .el-upload{
    height:auto !important;
    width:auto !important;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader .el-upload,.avatar-uploader .el-icon-plus {
    width: 128px;
    height: 128px;
    border-radius: 64px;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
/*--------------------------------------------------end-----------------------------------------*/

.menuset{
    list-style:none;
    padding-left: .5rem;
}
.menuset li{
    padding: .1rem .5rem;
}
.index-list{
    padding: 1rem 1rem;
}
.index-list span{
    float: right;
    margin: .3rem .2rem;
    padding: 7px;
}
.float-from-30-40{
    width: 30%;
    height: 40%;
    position: fixed;
    top: 10%;
    left: 30%;
    box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 1px 1px, rgba(0, 0, 0, 0.498039) 3px 3px 10px 0px;
    background: #fff;
    border-radius: 2rem;
    border: 1px #ccc solid;
}
.close_i{
    right: 3%;
    position: absolute;
    top: 3%;
    font-size: 20px;
}
.from-head{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.userlist_div{
    padding: 5% 8%;
}
.user_pagenum{
    margin-top: 1rem;
}
.userlist_div td{
     text-align: center !important;
 }
.userlist_div th{
    text-align: center !important;
}
.avatar-uploader img{
    width: 100% !important;
    height: 100% !important;
}
._waifu{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 0;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}