.menuset{
    list-style:none;
    padding-left: .5rem;
}
.menuset li{
    padding: .1rem .5rem;
}
.index-list{
    background: #999;
    padding: .3rem .5rem;
}
.index-list span{
    float: right;
    margin: .3rem .2rem;
    padding: 7px;
}